@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  font-family: arial;
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, rgba(72,209,204) ,rgba(255,255,255,0) 80%), url('AdobeStock_159242968.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h2 {
	word-spacing: -0.15em;
	font-size: 40px;
	font-weight: 400;
	color: #3982b8;
}

/* Mobile */

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #3982b8;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2em;
  font-size: 20px;
  font-weight: 600;
}

#navbar a {
  color: white;
  text-decoration: none;
}

#navbar #brand,
#navbar #menuIcon {
  flex: 1 0 50%;
}

/* Menu */

.bars {
  background: white;
  display: block;
  height: 3px;
  position: relative;
  width: 30px;
  transition: background 0.2s ease-out;
}
.bars::before,
.bars::after {
  content: '';
  background: white;
  display: block;
  height: 3px;
  position: absolute;
  width: 30px;
}
.bars::before {
  content: '';
  top: 8px;
  transition: all 0.2s ease-out;
}
.bars::after {
  content: '';
  top: -8px;
  transition: all 0.2s ease-out;
}

#navbar label.navbar-toggle {
  cursor: pointer;
}
input#chkToggle:checked + label.navbar-toggle > span.bars {

  background-color: #3982b8;
}
input#chkToggle:checked + label.navbar-toggle > span.bars:before {
  transform: rotate(-45deg);
  top: 0;
}
input#chkToggle:checked + label.navbar-toggle > span.bars:after {
  transform: rotate(45deg);
  top: 0;
}
#chkToggle {
  display: none;
}
#chkToggle:checked ~ ul#menu,
#chkToggle:checked ~ ul#access {

  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#navbar > ul#menu,
#navbar > ul#access {
  flex: 0 1 100%;
  list-style: none;
  display: none;
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 0px;
}

#navbar > ul#menu > li,
#navbar > ul#access > li {

  padding: 5px 0;
}

@media all and (min-width: 468px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #navbar #brand {
    order: 1;
    flex-basis: 20%;
  }
  #navbar > ul#access {
    order: 2;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar-toggle,
  .navbar-toggle .bars {
    order: 3;
    float: right;
    flex-basis: 10%;
    cursor: pointer;
  }

  #navbar > ul#menu {
    order: 4;
    flex-basis: 100%;
  }

  #navbar #brand,
  #navbar > ul#access,
  .navbar-toggle {
    justify-content: space-evenly;
  }

  #chkToggle:checked ~ ul#access {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  #navbar > ul#access > li {
    display: block;
    padding: 0px;
    margin-left: 15px;
  }
}


@media all and (min-width: 800px) {
  #navbar #brand {
    order: 1;
    flex-basis: 20%;
  }
  #navbar > ul#menu,
  #chkToggle:checked ~ ul#menu {
    order: 2;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
  }

  #navbar > ul#access {
    flex-basis: 10%;
  }
  #navbar > ul#access > li,
  #navbar > ul#menu > li {
    display: block;
    padding: 0px;
    margin-left: 20px;
  }

  .navbar-toggle,
  .navbar-toggle .bars {
    display: none;
  }
}

#access a.primary {
  text-decoration: none;
  padding: 0px 10px;
  background: #295982;
  border: 1px solid #295982;
  border-radius: 50em;
  border-width: medium;
}

#access a.primary:hover {
  text-decoration: none;
  padding: 0px 10px;
  background: white;
  border: 1px solid white;
  border-radius: 50em;
  border-width: medium;
  color: #3982b8;
}


#menu a:hover {
  color: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;

}

.main {
  padding: 25px;
}

.analytics {
  margin: 2rem 0;
}
.analytics .list-analytics {
  display: flex;
  justify-content: space-between;
}
.analytics .list-analytics .analytic {
  background-color: white;
  width: 23%;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 2rem 1rem;
  transition: box-shadow 0.2s ease-in;
}
.analytics .list-analytics .analytic:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 10px 20px 25px 15px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px 15px;
}
.analytics .list-analytics .analytic .icon {
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.analytics .list-analytics .analytic .num {
  font-size: 50px;
  margin: 15px 0 5px 0;
  transform: scaleY(1.1);
}

@media screen and (max-width: 560px) {
  .main {
    padding-left: 5px;
    padding-right: 5px;
  }