
body {
  font-family: arial;
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, rgba(72,209,204) ,rgba(255,255,255,0) 80%), url('banner-1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
	word-spacing: -0.15em;
	font-size: 60px;
	font-weight: 400;
	color: white;
	text-shadow: 2px 0 1px #1976D2;
	position: absolute; top: 350px; right: 20px; width:100%; text-align:right;
}

/* Mobile */

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #3982b8;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2em;
  font-size: 20px;
  font-weight: 600;
}

#navbar a {
  color: white;
  text-decoration: none;
}

#navbar #brand,
#navbar #menuIcon {
  flex: 1 0 50%;
}

/* Menu */

.bars {
  background: white;
  display: block;
  height: 3px;
  position: relative;
  width: 30px;
  transition: background 0.2s ease-out;
}
.bars::before,
.bars::after {
  content: '';
  background: white;
  display: block;
  height: 3px;
  position: absolute;
  width: 30px;
}
.bars::before {
  content: '';
  top: 8px;
  transition: all 0.2s ease-out;
}
.bars::after {
  content: '';
  top: -8px;
  transition: all 0.2s ease-out;
}

#navbar label.navbar-toggle {
  cursor: pointer;
}
input#chkToggle:checked + label.navbar-toggle > span.bars {

  background-color: #3982b8;
}
input#chkToggle:checked + label.navbar-toggle > span.bars:before {
  transform: rotate(-45deg);
  top: 0;
}
input#chkToggle:checked + label.navbar-toggle > span.bars:after {
  transform: rotate(45deg);
  top: 0;
}
#chkToggle {
  display: none;
}
#chkToggle:checked ~ ul#menu,
#chkToggle:checked ~ ul#access {

  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#navbar > ul#menu,
#navbar > ul#access {
  flex: 0 1 100%;
  list-style: none;
  display: none;
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 0px;
}

#navbar > ul#menu > li,
#navbar > ul#access > li {

  padding: 5px 0;
}

@media all and (min-width: 468px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #navbar #brand {
    order: 1;
    flex-basis: 20%;
  }
  #navbar > ul#access {
    order: 2;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar-toggle,
  .navbar-toggle .bars {
    order: 3;
    float: right;
    flex-basis: 10%;
    cursor: pointer;
  }

  #navbar > ul#menu {
    order: 4;
    flex-basis: 100%;
  }

  #navbar #brand,
  #navbar > ul#access,
  .navbar-toggle {
    justify-content: space-evenly;
  }

  #chkToggle:checked ~ ul#access {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  #navbar > ul#access > li {
    display: block;
    padding: 0px;
    margin-left: 15px;
  }
}


@media all and (min-width: 800px) {
  #navbar #brand {
    order: 1;
    flex-basis: 20%;
  }
  #navbar > ul#menu,
  #chkToggle:checked ~ ul#menu {
    order: 2;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
  }

  #navbar > ul#access {
    flex-basis: 10%;
  }
  #navbar > ul#access > li,
  #navbar > ul#menu > li {
    display: block;
    padding: 0px;
    margin-left: 20px;
  }

  .navbar-toggle,
  .navbar-toggle .bars {
    display: none;
  }
}

#access a.primary {
  text-decoration: none;
  padding: 0px 10px;
  background: #295982;
  border: 1px solid #295982;
  border-radius: 50em;
  border-width: medium;
}

#access a.primary:hover {
  text-decoration: none;
  padding: 0px 10px;
  background: white;
  border: 1px solid white;
  border-radius: 50em;
  border-width: medium;
  color: #3982b8;
}


#menu a:hover {
  color: #d3d3d3;
}

/* Services */
*{
  box-sizing: border-box;
}
.card-row{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 100px;
	position: relative;
	top: 450px; 
	width:100%; 
	text-align:center;
}
.card{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 1rem;
    padding-left: 1rem;
    position:relative;

}
.card-inner{
    box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
    min-height: 150px;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    transition: 0.2s ease-in-out;
    cursor:pointer;
	background: white;
}

.card-inner:before {
    width: 0;
    transition: 0.2s;
    z-index: 0;
    content: "";
    background-color: #4c86e7;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
.card:hover .card-inner:before {
    width: 100%;
}
.card:hover .card-inner{
    top: -2px;
    box-shadow: 0px 20px 40px 0px rgba(61, 65, 84, 0.15);
}

.grid {
	position: relative;
	margin: 400px auto;
	padding: 0;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 350px;
	max-width: 500px;
	max-height: 360px;
	width: 48%;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


figure.mv {
	background: #0d98ba;
}

figure.mv img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.mv figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}



figure.mv p {
	padding: 25px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	color: #fff;
	font-weight: 400;
	font-size: 12px;

}


figure.mv:hover figcaption::before,
figure.mv:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.mv:hover img {
	opacity: 0.5;
}





* {
  box-sizing: border-box;
}


.ctr {
  width: 96%;
  margin: 1rem auto;
}

.crd {
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.crd div:last-child {
  flex-basis: 65%;
  padding: 0 0.5rem 0.25rem;
}

.crd img {
  display: block;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}



/* footer */
*{

   	margin: 0;
   	padding: 0;
   	box-sizing: border-box
   	}

footer{
   	background-color: #3982b8;
	color: white;
   	text-align: center;
	font-family: arial;
   	padding: 15px;

   	}

 
.footer-ftr{
    display: grid;
   	grid-template-columns: 1fr 1fr;
   	color: white;
   	letter-spacing: 1.5px;
   	word-spacing: 1px;
   	}

@media(max-width :700px){

.footer-ftr{
	grid-template-columns: 1fr;
   	}